.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 12px 0;
}

.col-lg-6 {
    padding-right: 8px !important;
    padding-left: 8px !important;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffb701;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.container_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffff;
    border-radius: 6px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.box_logo {
    width: 150px;
}

.box_image {
    width: 360px;
    height: 280px;
    margin: 36px auto;
}

.image {
    width: 100%;
    height: 100%;
}

.custom-control-label {
    cursor: pointer;
}

.btn-submit {
    font-size: 12px;
    line-height: 20px;
    font-family: "Nunito Sans", sans-serif;
    color: #212529;
    background-color: #ffb701;
    font-weight: 700;
    border: 1px solid #2b29285e;
    border-radius: 4px;
    padding: 10px 30px;
    transition-duration: 1s;
    box-shadow: 0 1px 5px #887e7e;
}

.btn-submit:hover {
    color: #ffff;
}

.error {
    color: red;
    font-size: 12px;
}

.text-error {
    color: #dc3545 !important;
    font-size: 0.85em !important;
    margin: 0;
    padding: 4px 10px;
}

.input-error {
    border: 1px solid #dc3545 !important;
}

.btn-back {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    color: #007bff;
    cursor: pointer;
}

.btn-back:hover {
    color: #0056b3;
    text-decoration: underline;
}

.btn-back:focus {
    outline: none!important;
}
