/* ================================ TRƯỚC KHI SỬA HỎI PHONGLV ĐÓ NHA ============================ */

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

.color-interview {
    color: #fdaa26 !important;
}

.color-pass {
    color: #85be44 !important;
}

.color-danger {
    color: #f4364c !important;
}

.image-pdf {
    display: none;
    height: 684px;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
    border: 2px solid #eee;
    border-radius: 3px;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 20%);
    background-color: #333;
}

.image-pdf.change {
    display: flex!important;
}

.content-image img {
    padding: 12px;
    background-color: #333;
}

.content-image {
    --border-width: -3px;
    position: relative;
    z-index: 1;
}
.content-image::before,
.content-image::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(45deg, #333 20%, #ffd800 40%, #ff5520 60%, #333 80%);
    background-size: 100%;
    background-position: center;
    transition: 1s;
    border-radius: 3px;
}

.content-image:hover::after,
.content-image:hover::before {
    background-position: center;
	background-size: 1000%;
	transition: 2s;
}

.content-image::after {
    top: var(--border-width);
    left: var(--border-width);
    right: var(--border-width);
    bottom: var(--border-width);
    z-index: -1;
}
.content-image::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(11px);
}

.modal-candidate {
    display: block;
    position: fixed;
    padding: 12px;
    top: 88px;
    right: 0;
    width: 78%;
    height: 89%;
    background-color: #fff;
    transition: all 0.4s ease-in-out !important;
    overflow: hidden;
    transform: translateX(100%);
    opacity: 0;
    z-index: 10000;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 35%);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.show-candidate-btn-close {
    float: left !important;
    font-size: 16px !important;
    margin-left: 4px;
}

.show-candidate {
    transform: translateX(0);
    opacity: 1;
}

.candidate-content {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.col-content {
    padding-right: 6px;
    padding-left: 6px;
}

.header-apply {
    border-bottom: 1px solid #e7e7e7;
    margin-right: 4px;
}

.header-apply .title-apply {
    margin-left: 4px;
    display: flex;
    align-items: center;
}

.header-apply .title-apply h4 {
    font-weight: 600;
    text-transform: none;
    font-family: "Nunito Sans", sans-serif;
}

.header-apply .nav-apply {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.header-apply .time-apply {
    margin-left: 4px;
    font-size: 1.3rem;
    color: #c2c0c0;
}

.header-apply .time-apply i {
    position: relative;
    top: 1px;
}

.header-apply .status-apply {
    margin-right: 12px;
    margin-bottom: 5px;
    display: flex;
}

.header-apply .status-apply span {
    /* text-transform: uppercase; */
    /* margin-left: 4px; */
    color: #00c0ef;
    font-weight: 900;
    font-family: "Nunito Sans", sans-serif;
    padding: 8px;
}
.p-4px {
    padding: 4px !important;
}
.info-apply .name {
    margin-top: 4px;
    padding: 4px;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Nunito Sans", sans-serif;
}

.info-apply .skills ul {
    display: flex;
    gap: 4px;
    margin-left: 4px;
    margin-top: 4px;
    list-style: none;
    margin-bottom: 14px;
    padding: 0;
}

.info-apply .skills ul li {
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    border: 1px solid #ffb701;
}

.list-infoJob {
    display: grid;
    /* grid-template-columns: repeat(2, 260px); */
    border: 1px solid rgba(109, 109, 109, 0.16);
    border-radius: 3px;
    padding: 8px;
    margin-right: 4px;
}

.list-infoJob-left,
.list-infoJob-right {
    float: left;
    margin: 6px 4px;
}

.list-infoJob-left ul,
.list-infoJob-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-infoJob-left ul li i,
.list-infoJob-right ul li i {
    position: relative;
    top: 1px;
    margin-right: 6px;
    opacity: 70%;
    font-size: 115%;
}

.list-infoJob-left ul li span,
.list-infoJob-right ul li span {
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
}

.confim-apply h5 {
    display: none;
    margin-top: 8px;
    padding: 2px 4px;
    font-weight: 700;
    font-size: 1.4rem;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 0;
}

.confim-apply .confim-box {
    margin-left: 6px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.confim-apply .confim-box div input {
    position: relative;
    top: 2px;
    cursor: pointer !important;
}

.confim-apply .confim-box div label {
    margin-bottom: 0;
    margin-left: 4px;
    cursor: pointer !important;
    font-weight: 500;
    font-size: 1.3rem;
    font-family: "Nunito Sans", sans-serif;
}

.footer-apply {
    display: none;
    margin-top: 8px;
    /* border-top: 1px solid #e7e7e7; */
    margin-right: 4px;
}

.footer-apply .box-btn {
    margin-top: 16px;
}
.btn-outline-apply {
    color: #ffb701;
    border: 2px solid #ffb701;
    background-color: transparent;
    border-radius: 3px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: all 0.15s ease-in-out;
    float: right;
    margin-right: 4px;
}
.btn-outline-apply:hover {
    background-color: #e08e0b;
    border-color: #e08e0b;
    color: #fff;
}
.footer-apply .btn-apply,
.confim-apply .btn-apply {
    float: right;
    margin-right: 12px;
    background-color: #ffb701;
    color: #fff;
    border: 2px solid #ffb701;
    border-radius: 3px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: all 0.15s ease-in-out;
}

.footer-apply .btn-apply:hover {
    background-color: #e08e0b;
    border-color: #e08e0b;
}

.footer-apply .btn-apply i {
    position: relative;
    top: 1.5px;
    margin-left: 2px;
}
.justify-content-between {
    justify-content: space-between !important;
}